@font-face {
  font-family: 'Ycomputer';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Ycomputer/Ycomputer.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ycomputer/Ycomputer.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ycomputer/Ycomputer.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ycomputer/Ycomputer.ttf') format('truetype');
}
